// #cms {
//   background-color: $c1;
// }

.cms-header {
  box-sizing: border-box;
  max-width: 1320px;
  padding: 0;
  position: relative;
  width: calc(100% - 40px);
  left: calc(50% - 20px);
  transform: translateX(-50%);
  background-color: $w2;
  // @include border;
  border-radius: 50px;
  margin: $s4;
}

.cms-header-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $s2 $s4;
  gap: $s5;
  div {
    display: flex;
    align-items: center;
    gap: $s4;
    & > p {
      color: $c2;
      @include text-2;
      cursor: default;
      @include screen(mobile) {
        display: none;
      }
    }
  }
  a {
    @include arrow-link;
    min-width: 48px;
    box-sizing: border-box;
  }
  button {
    @include button;
    white-space: nowrap;
    font-size: 1em;
  }
  @include screen(tablet) {
    padding: $s3 $s4;

    p {
      position: static;
      transform: none;
    }
  }
}

.cms-form {
  input,
  textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: -3em 0;
    overflow-y: visible;
    resize: none;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    text-transform: inherit;
    color: inherit;
    text-align: inherit;
    line-height: inherit;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
