.sobre-introducao {
  height: calc(100vh - 91px);
  .sobre-introducao-bg {
    position: relative;
    top: 46%;
    transform: translateY(-50%);
    padding-top: 22vh;
    padding-bottom: 22vh;
    background-image: url("../../img/sobre/introducao.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  h1 {
    @include title-2;
  }
  p {
    @include subtitle-text;
  }
  &::after {
    content: "";
    height: 2px;
    width: 90%;
    position: absolute;
    bottom: -$spacing-1;
    bottom: 0;
    left: 5%;
    background-color: $c3;
    @include screen(mobile) {
      display: none;
    }
  }
  @include screen(mobile) {
    .sobre-introducao {
      height: 100svh;
    }
    .sobre-introducao-bg {
      position: relative;
      top: 42.5%;
      padding-top: calc(50svh - 33px);
      padding-bottom: calc(50svh - 33px);
    }
  }
}
