.cardapio-introducao {
  height: calc(100svh - 91px);
  .cardapio-introducao-bg {
    position: relative;
    top: 46%;
    transform: translateY(-50%);
    padding-top: 22vh;
    padding-bottom: 22vh;
    background-image: url("../../img/cardapio/introducao.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    @include screen(tablet) {
      top: calc(50svh - 96px);
    }
  }
  h1 {
    @include title-2;
  }
  p {
    @include subtitle-text;
  }
  &::after {
    content: "";
    height: 2px;
    width: 90%;
    position: absolute;
    bottom: -$spacing-1;
    bottom: 0;
    left: 5%;
    background-color: $c3;
  }
}
