html {
  scroll-behavior: smooth;
}
:target {
  scroll-margin-top: 7rem;
}

body {
  margin: 0px;
  font-family: "Afacad", Arial, Helvetica, sans-serif;
  background-color: $c1;
  color: $w;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

/* container */
.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 20px;
  @include screen(notebook-m) {
    padding: 0 60px;
  }
  margin-left: auto;
  margin-right: auto;
}

// EFEITO DE SCROLL
// transição fade in
.transition-element {
  transform: translateX(-20px);
  opacity: 0;
  transition: 0.8s ease;
}

.transition-element--visible {
  transform: translateX(0);
  opacity: 1;
}

// transição fade-in 2 (para elementos que estao no topo da pagina)
.transition-element-topo {
  animation-name: fade-in;
  animation-duration: 0.8s;
  opacity: 1;
}

// transição inicio
.transition-inicio {
  animation-name: fade-in-inicio;
  animation-duration: 0.8s;
}

@keyframes fade-in {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-inicio {
  0% {
    transform: translate(-20px, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(0, -50%);
    opacity: 1;
  }
}

.js body {
  opacity: 0;
  transition: 0.8s !important;
  &.visible {
    animation: fade-in 0.5s forwards;
    // opacity: 1 !important;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
