.header {
  @include container;
  padding-top: $spacing-3;
  padding-bottom: $spacing-3;
  position: relative;
  &.active {
    position: fixed;
    z-index: 2;
  }
  ul {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div:not(button div) {
      display: flex;
      gap: 40px;
      @include screen(notebook-s) {
        gap: 20px;
      }
      @include screen(tablet) {
        display: none;
      }
    }
    a {
      @include header-text;
    }
    & > li {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      &.active {
        position: fixed;
        display: block;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  button {
    display: none;
    top: 0;
    z-index: 2;
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    cursor: pointer;
    @include screen(tablet) {
      display: block;
      top: $spacing-3 - px-rem(2px);
    }
    &.active {
      position: fixed;
    }
  }
  button div {
    content: "";
    display: block;
    height: 2px;
    width: 20px;
    background: #fff;
    box-shadow: 0 7px #fff, 0 -7px #fff;
  }

  img[alt="Moretti Caffè"] {
    @include screen(notebook-s) {
      max-width: 200px;
    }
  }
}

.menu-mobile {
  display: none;
  position: fixed;
  background-color: $c1;
  width: 100%;
  top: 0;
  height: 100vh;
  z-index: 1;
  ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  a {
    display: block;
    text-align: center;
    @include header-text;
    padding: 10px;
  }
  &.active {
    display: block;
    animation: to-right 0.5s forwards;
  }
  &.closing {
    animation: to-left 0.5s forwards;
  }
}

.proximo-elemento.active {
  padding-top: 96px;
}

.header2 {
  @include container;
  padding-top: $spacing-3;
  padding-bottom: $spacing-3;
  a:nth-of-type(1) {
    position: absolute;
  }
  a:nth-of-type(2) {
    display: block;
    max-width: fit-content;
    @include align-div;
  }

  img[alt="Moretti Caffè"] {
    @include screen(notebook-s) {
      max-width: 200px;
    }
  }
  @include screen(notebook-s) {
    padding-top: $spacing-3 + px-rem(5px);
    padding-bottom: $spacing-3 + px-rem(5px);
  }
}

@keyframes to-right {
  from {
    transform: translate3d(-1000px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes to-left {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-1000px, 0, 0);
  }
}
