// RESPONSIVIDADE
@mixin screen($tela) {
  @if $tela == "mobile" {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $tela == "tablet" {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $tela == "notebook-s" {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $tela == "notebook-m" {
    @media (max-width: 1380px) {
      @content;
    }
  }
}

// CONTAINER
@mixin container {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 60px;
  margin-left: auto;
  margin-right: auto;
  @include screen(notebook-s) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include screen(mobile) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@mixin container-2 {
  margin-left: 40px;
  margin-right: 40px;
  @include screen(tablet) {
    margin-left: 30px;
    margin-right: 30px;
  }
  @include screen(mobile) {
    margin-left: 24px;
    margin-right: 24px;
  }
}

// ALIGN-DIV
@mixin align-div {
  margin-left: auto;
  margin-right: auto;
}

@mixin responsive($tela) {
  @media (max-width: $tela) {
    @content;
  }
}

// ESPAÇAMENTOS
$spacing-1: px-rem(80px);
$spacing-2: px-rem(60px);
$spacing-3: px-rem(28px);
$spacing-4: px-rem(12px);

// primeira media-query (notebook-s)
$spacing-1-2: px-rem(70px);
$spacing-2-2: px-rem(40px);
$spacing-3-2: px-rem(20px);

// margin bottom
@mixin mbottom-1 {
  margin-bottom: $spacing-1;
}

@mixin mbottom-2 {
  margin-bottom: $spacing-2;
}

@mixin mbottom-3 {
  margin-bottom: $spacing-3;
}

@mixin mbottom-4 {
  margin-bottom: $spacing-4;
}

// margin-top
@mixin mtop-1 {
  margin-top: $spacing-1;
}

@mixin mtop-2 {
  margin-top: $spacing-2;
}

@mixin mtop-2-2 {
  margin-top: $spacing-2-2;
}

@mixin mtop-3 {
  margin-top: $spacing-3;
}

@mixin mtop-4 {
  margin-top: $spacing-4;
}

// padding bottom
@mixin pbottom-1 {
  padding-bottom: $spacing-1;
}

@mixin pbottom-2 {
  padding-bottom: $spacing-2;
}

@mixin pbottom-3 {
  padding-bottom: $spacing-3;
}

@mixin pbottom-4 {
  padding-bottom: $spacing-4;
}

// padding-top
@mixin ptop-1 {
  padding-top: $spacing-1;
}

@mixin ptop-2 {
  padding-top: $spacing-2;
}

@mixin ptop-3 {
  padding-top: $spacing-3;
}

@mixin ptop-4 {
  padding-top: $spacing-4;
}
